:root{
    --color-primary: #fff;
    --color-secundary: #000;
    --color-gray-dark: #737373;
    --color-gray-medium: #545454;
    --color-gray-light: #cccdcd;
    --font-primary: 'Montserrat', sans-serif;
}

.cards-container a{
    text-decoration: none;
    color: rgb(255, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    height: 25px;
    width: 320px;
}

.cards-container p{
    color: var(--color-gray-medium);
    font-size: 1.5em;
    margin-top: 0px;
    margin-left: 90px;
    height: 5%;
}
.cards-container p button{
    margin-top: 0px;
    margin-left: 90px;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    transition: .3s;
}
.cards-container p button:hover{
    background-color: red;
}
.cards-container a h2{

    margin: 0px;
}


.cards-container:hover a .c-c-img div{
    color: var(--color-primary);
    background-color: rgba(0,0,0,.58);
    height: 94%;
}
