:root{
    --color-primary: #fff;
    --color-secundary: #000;
    --color-gray-dark: #737373;
    --color-gray-medium: #545454;
    --color-gray-light: #cccdcd;
    --font-primary: 'Montserrat', sans-serif;
}

#container-createpokemon{
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, red, white);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


#cont-btn-home a button{
    font-size: 1em;
    font-weight: bold;
    margin: 25px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 50px;
}

#cont-title-form{
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
}



#form-cont-left{
    height: 100%;
    width: 60%;
    margin-top: 3%;
    margin-left: 0%;
    padding: 10px;
}

.form-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 35px;
    width: 100%;
    margin-left: -50px;
}
.form-inputs label{
    color: var(--color-primary);
    margin-left: 450px;
    
    font-size: 1.2em;
    font-weight: bold;
}
.form-inputs input{
    color: var(--color-primary);
    background-color: var(--color-secundary);
    height: 25px;
    width: 200px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding-left: 10px;
    
}
.form-inputs p{
    color: #000000;
    display: flex;
    
    height: 100%;
    width: 100%;
    padding-left: 200px;
    margin-top: -20px;
    
    

}

#select-ts select{
    color: var(--color-primary);
    background-color: var(--color-secundary);
    margin-right: 10px;
    height: 20px;
    width: 200px;
    border: 2px solid var(--color-primary);
    border-radius: 15px;
}


#cont-btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}
#cont-btn-submit button{
    font-size: 1.2em;
    font-weight: bold;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 25px;
    transition: .3s;
}
#cont-btn-submit button:hover{
    font-size: 1.25em;
    height: 42px;
    width: 205px;
    box-shadow: 0px 5px 5px #555;
}

@media screen and (max-width: 420px){
    #container-createpokemon{
        font-family: var(--font-primary);
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, red, white);
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    
    
    #cont-btn-home a button{
        font-size: 0.9em;
        font-weight: bold;
        margin: 25px;
        height: 20px;
        width: 70px;
        border: none;
        border-radius: 50px;
    }
    
    #cont-title-form{
        font-size: 1em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw;
    }
    
    
    
    #form-cont-left{
        height: 100%;
        width: 40%;
        margin-top: -10%;
        margin-left: 10%;
        padding: 50px;
    }
    
    .form-inputs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 40px;
        width: 120%;
        margin-left: 0px;
    }
    .form-inputs label{
        color: var(--color-primary);
        margin-left: -45px;
        
        font-size: 0.8em;
        font-weight: bold;
    }
    .form-inputs input{
        color: var(--color-primary);
        background-color: var(--color-secundary);
        height: 15px;
        width: 150px;
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        padding-left: 10px;
        
    }
    .form-inputs p{
        display: flex;
        color: hsl(0, 0%, 0%);
        font-size: 0.2em;
        padding-left: 135px;
        margin-top: -20px;
        
        
    
    }
    
    #select-ts select{
        color: var(--color-primary);
        background-color: var(--color-secundary);
        margin-top: 10px;
        margin-left: 25px;
        height: 20px;
        width: 180px;
        border: 2px solid var(--color-primary);
        border-radius: 15px;
    }
    
    
    #cont-btn-submit{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 100%;
        width: 100%;
    }
    #cont-btn-submit button{
        font-size: 1em;
        font-weight: bold;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 25px;
        transition: .3s;
    }
    #cont-btn-submit button:hover{
        font-size: 1em;
        height: 42px;
        width: 105px;
        box-shadow: 0px 5px 5px #555;
    }
    



}


@media screen and (max-width: 390px){
    #container-createpokemon{
        font-family: var(--font-primary);
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, red, white);
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    
    
    #cont-btn-home a button{
        font-size: 0.9em;
        font-weight: bold;
        margin: 25px;
        height: 20px;
        width: 70px;
        border: none;
        border-radius: 50px;
    }
    
    #cont-title-form{
        font-size: 1em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw;
    }
    
    
    
    #form-cont-left{
        height: 100%;
        width: 40%;
        margin-top: -10%;
        margin-left: 10%;
        padding: 50px;
    }
    
    .form-inputs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 25px;
        width: 100%;
        margin-left: 0px;
    }
    .form-inputs label{
        color: var(--color-primary);
        margin-left: -50px;
        
        font-size: 0.8em;
        font-weight: bold;
    }
    .form-inputs input{
        color: var(--color-primary);
        background-color: var(--color-secundary);
        height: 15px;
        width: 90px;
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        padding-left: 10px;
        
    }
    .form-inputs p{
        display: flex;
        color: hsl(0, 0%, 0%);
        font-size: 0.2em;
        padding-left: 135px;
        margin-top: -20px;
        
        
    
    }
    
    #select-ts select{
        color: var(--color-primary);
        background-color: var(--color-secundary);
        margin-right: 100px;
        height: 20px;
        width: 80px;
        border: 2px solid var(--color-primary);
        border-radius: 15px;
    }
    
    
    #cont-btn-submit{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130%;
        width: 100%;
    }
    #cont-btn-submit button{
        font-size: 1em;
        font-weight: bold;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 25px;
        transition: .3s;
    }
    #cont-btn-submit button:hover{
        font-size: 1em;
        height: 42px;
        width: 105px;
        box-shadow: 0px 5px 5px #555;
    }
    



}
