
#lp-container{
    background: linear-gradient(to bottom, red, white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border-bottom: 100%;
}


#lp-container button{
    font-family: 'Montserrat', sans-serif;
    background-color: red;
    border: 2px solid black;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
    font-size: 1.3em;
   
    margin: 0px;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    transition: .1s;
}
#lp-container button:hover{
    font-size: 1.32em;
    margin-bottom: -1px;
    height: 62px;
    width: 162px;
}

#lp-container header{
    display: flex;
    height: 200px;
    width: 500px;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;

  
}
#lp-container footer{
   
    display: flex;
    height: 300px;
    width: 500px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column-reverse;
    justify-content: center;
  
   
  
}

@media screen and (max-width: 420px){

    
    #lp-container{
        background: linear-gradient(to bottom, red, white);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        
    }
    
    
    #lp-container button{
        font-family: 'Montserrat', sans-serif;
        background-color: red;
        border: 2px solid black;
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-weight: bold;
        font-size: 1.3em;
       
        margin: 45px;
        border: none;
        border-radius: 50px;
        height: 50px;
        width: 150px;
        transition: .1s;
    }
    #lp-container button:hover{
        font-size: 1.32em;
        margin-bottom: -1px;
        height: 62px;
        width: 162px;
    }
    
    #lp-container header{
        display: flex;
        height: 100px;
        width: 280px;
        margin-top: 100px;
        align-items: stretch;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
    
      
    }
    #lp-container footer{
       
        display: flex;
        height: 100px;
        width: 300px;
        margin-top: 80px;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: stretch;
        flex-direction: column-reverse;
        justify-content: center;
      
       
      
    }
    }

@media screen and (max-width: 390px){

    
#lp-container{
    background: linear-gradient(to bottom, red, white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
}


#lp-container button{
    font-family: 'Montserrat', sans-serif;
    background-color: red;
    border: 2px solid black;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
    font-size: 1.3em;
   
    margin: 45px;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    transition: .1s;
}
#lp-container button:hover{
    font-size: 1.32em;
    margin-bottom: -1px;
    height: 62px;
    width: 162px;
}

#lp-container header{
    display: flex;
    height: 100px;
    width: 280px;
    margin-top: 100px;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;

  
}
#lp-container footer{
   
    display: flex;
    height: 100px;
    width: 300px;
    margin-top: 80px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column-reverse;
    justify-content: center;
  
   
  
}
}